{% extends "base.html" %}

{% block title %} Home{% endblock %}

{% block head %}
<style>
    body, html {
        height: 100%;
    }
</style>
{% endblock %}

{% block body %}

<div class="d-flex justify-content-center align-items-center flex-column text-center" style="height: 100vh;">
    
    <div class="mb-4 px-3">
        <h2 class="fw-bold" style="white-space: nowrap; font-size: 2rem;">
            Upload the MRI Image of human brain, and get the predicted result.
        </h2>
    </div>
    
    <form method="POST" enctype="multipart/form-data" class="p-4 border rounded shadow bg-white">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="file" name="image" class="form-control" id="inputGroupFile02">
        </div>
        <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>

</div>

{% endblock %}
